<!DOCTYPE html>
<html>

<head>
    ...
</head>

<body>
    <footer>
        <div class="footer_socials">
            <a href="https://www.youtube.com/" target="_blank"><i class="uil uil-youtube"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="uil uil-facebook-f"></i></a>
            <a href="https://www.Linkedin.com/" target="_blank"><i class="uil uil-linkedin"></i></a>
            <a href="https://www.Instagram.com/" target="_blank"><i class="uil uil-instagram-alt"></i></a>
        </div>
        <div class="footer_copyright">
            <small>Copyright &copy; Tradez</small>
        </div>
    </footer>
     
	  <th:block th:fragment="scripts"> 
		<script src="./main.js"></script>
	  </th:block>

    
</body>

</html>