<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="bar">
	<div class="container nav_container">
		<a href="index.html" class="nav_logo<">Trades</a>
		<ul class="nav_items">
			<li><a href="blog.html">Blog</a></li>
			<li><a href="about.html">About</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="contact.html">Contacts</a></li>
			<!-- <li><a href="signin.html">Signin</a></li> -->
			<li class="nav_profile">
				<div class="avatar">
					<img src="./images/avatar1.jpg" />
				</div>
				<ul>
					<li><a href="dashboard.html">Dashboard</a></li>
					<li><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</li>
		</ul>

		<button id="open_nav-btn">
			<i class="uil uil-bars"></i>
		</button>
		<button id="close_nav-btn">
			<i class="uil uil-multiply"></i>
		</button>
	</div>
</nav>
</html>
