<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="header">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tradez</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <!-- Icon CDN -->
    <link
      rel="stylesheet"
      href="http://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <!-- Google font  -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />
  </head>