<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="menu">
	<ul>
		<li><a th:href="@{/createListing}"><i class="uil uil-pen"></i>
				<h5>Add Listing</h5> </a></li>

		<li><a href="dashboard.html" class="active"><i
				class="uil uil-postcard"></i>
				<h5>Manage posts</h5> </a></li>

		<li><a href="add-user.html"><i class="uil uil-user-plus"></i>
				<h5>Add user</h5> </a></li>

		<li><a href="manage-users.html"><i class="uil uil-user-plus"></i>
				<h5>Manager users</h5> </a></li>

		<li><a href="add-category.html"><i class="uil uil-edit"></i>
				<h5>Add category</h5> </a></li>

		<li><a href="manage-categories.html"><i
				class="uil uil-list-ul"></i>
				<h5>Manage categories</h5> </a></li>
	</ul>
</aside>
</html>