<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside th:fragment="menu">
	<ul>
		
		<li><a th:href="createListing"><i class="uil uil-pen"></i>
				<h5>Create Listing</h5> </a></li>

		<li><a href="" class="active"><i
				class="uil uil-postcard"></i>
				<h5>Manage Listing</h5> </a></li>
		
		<li><a th:href="@{/profile}"><i class="uil uil-user-plus"></i>
				<h5>View Profile</h5> </a></li>
		
		<li><a th:href="@{/editprofile}"><i class="uil uil-user-plus"></i>
				<h5>Edit Profile</h5> </a></li>
	</ul>
</aside>
</html>