<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<main th:fragment="listing">
	<h2>Manage Listing</h2>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Title</th>
				<th>Condition</th>
				<th>Price</th>
				<th>Delivery</th>
				<th>Image</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="listing : ${listings}">
				<td th:text="${listing.id}">ID</td>
				<td th:text="${listing.title}">Title</td>
				<td th:text="${listing.state}">Condition</td>
				<td th:text="${listing.estValue}">Price</td>
				<td th:text="${listing.delivery}">delivery</td>
				<td><img th:src="@{${'/loadListingImage/' + listing.id }}"
					width="40px" height="40px" /></td>

				<td><a th:href="@{'/updateListing/' + ${listing.id}}" class="btn sm">Edit</a></td>
				<td><a th:href="@{'/deleteListing/' + ${listing.id}}" class="btn sm danger">Delete</a></td>
			</tr>
		</tbody>
	</table>
</main>
</html>