<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User #1</title>
</head>
<body th:object="${user}">
	<p>
		fake logged in user: <span th:text="*{username} ?: 'Guest'">user</span>
		<a href="/">home</a> | <a href="/explore">explore</a> | <a
			href="/dashboard">dashboard</a>
	</p>
	<h1>Dashboard</h1>
	<div>
		<p>
			email: <span th:text="*{email}"></span>
		</p>
		<p>
			username: <span th:text="*{username}"></span>
		</p>
		<p>
			postal code: <span th:text="*{postalCode}"></span>
		</p>
		<p>
			description: <span th:text="*{description}"></span>
		</p>
	</div>
	<a th:href="@{/editprofile/{id}(id=*{id})}"><button type="button">Edit Profile</button></a>
	<a th:href="@{/profile/{id}(id=*{id})}"><button>View
			Profile</button></a>

</body>
</html>