<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User #1</title>
</head>
<body>
	<p>
		<span sec:authentication="name"></span></div>
		<a href="/">home</a> | <a href="/explore">explore</a> | <a
			href="/dashboard">dashboard</a>
	</p>
	<h1>Dashboard</h1>
	<a th:href="@{/editprofile}"><button type="button">Edit Profile</button></a>
	<a th:href="@{/profile}"><button>View
			Profile</button></a>
			
	<div th:replace="~{listingTable :: table}"></div>
		

</body>
</html>