<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:object="${user}">

<head>
	<meta th:replace="~{fragments/global/meta :: meta}" />
	<title>Explore</title>
</head>

<body>
	<header th:replace="~{fragments/global/header :: header}">Global Header</header>
	<section class="search_bar">
		<form th:action="@{/explore}" method="post" class="container search_bar-container" action="">
			<div>
				<i class="uil uil-search"></i>
				<input type="search" name="search" placeholder="Search">
			</div>
			<button type="submit" class="btn">Go</button>
		</form>
	</section>
	<section class="">
	<div class="container posts_container">
		<article class="post"  th:each="listing : ${listings}">
			<div class="post_thumbnail">
				<img th:src="@{${'/loadListingImage/' + listing.id }}" alt="">
			</div>
			<div class="post_info">
				<a href="" th:text="${listing.category}" class="category_button">Category1</a>
				<h3 class="post_title">
					<a th:text="${listing.title}">Listing Title</a>
				</h3>
				<div class="post_author">
					<div class="post_author-info">
						<h5>estimated value: <span th:text="${listing.estValue}">Estimated value</span>$</h5>
						<small>Sep. 20, 2022</small>
					</div>
				</div>
			</div>
		</article>
	</div>
	</section>

	<footer th:replace="~{fragments/global/footer :: footer}">Global Header</footer>
	<script th:replace="~{fragments/global/scripts :: scripts}">//Global Scripts</script>
</body>

</html>