<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:object="${user}">

<head>
<!-- SITE META TAGS AND STILES -->
<meta th:replace="~{fragments/global/meta :: meta}" />
<title>Home</title>
</head>

<body>
	<!-- PUSH FOOTER when there little page content -->
	<div style="min-height: 68vh">

		<!-- SITE HEADER -->
		<header th:replace="~{fragments/global/header :: header}">Global
			Header</header>

		<!-- WELCOME SECTION -->
		<section class="featured text-center">
			<div class="container featured_container mb-5">

				<!-- for NON logged in users -->
				<div th:if="${#authorization.expression('!isAuthenticated()')}"
					class="container my-5">
					<h1 class="">Trade your stuff</h1>
					<p class="post_body my-3">Welcome to Tradez! here you can look
						at items people are willing to trade and you can post items you
						are willing to trade. Members will put what they are looking to
						receive in a trade in their profile so you can try and find a good
						match! Your trash is someone else's treasure, SIGN UP NOW and get started!</p>
					<a href="/signup" class=" btn md">Sign Up</a>
				</div>

				<!-- for LOGGED IN users -->
				<div th:if="${#authorization.expression('isAuthenticated()')}"
					class="container my-5">
					<h1>
						Hi <span sec:authentication="name"></span>
					</h1>
					<p class="post_body my-3">Here to manage your listings or profile? Go to
						your dashboard.</p>
					<a href="/dashboard" class="btn md">Dashboard</a>
				</div>

			</div>
		</section>


		<!-- LISTINGS SECTION -->
		<section class="my-5">
			<!-- Title and subtitle -->
			<div class="container text-center">
				<h3>Looking for something?</h3>
				<p class="post_body ">take a look at the new listings or search.</p>
			</div>

			<!-- SEARCH BAR -->
			<section class="post"
				th:replace="~{fragments/listing/search_bar :: search_bar}">Search
				Bar</section>

			<!-- Featured Listings -->
			<div class="container posts_container">
				<div th:each="listing : ${listings}">
					<article class="post"
						th:replace="~{fragments/listing/listing_preview :: listing_preview}">List
						of Listings</article>
				</div>
			</div>
		</section>

	</div>

	<!-- SITE FOOTER -->
	<footer th:replace="~{fragments/global/footer :: footer}">Global
		Footer</footer>
	<!-- GLOBAL SCRIPTS -->
	<script th:replace="~{fragments/global/scripts :: scripts}"></script>
</body>

</html>