<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta th:replace="~{fragments/global/meta :: meta}" />
<style>
 /* 
  label {
    width:120px;
    margin-right:10px;
  text-align:right
  }
  textarea,input[type=text],input[type=number],input[type=file],select {
    width:600px
  }*/
  
</style>
<body>
	<!-- PUSH FOOTER when there little page content -->
	<div style="min-height: 74vh">
<header th:replace="~{fragments/global/header :: header}">Global Header</header>
	<section class="featured" >
		<div class="container my-5 form_section-container" >
		    <div class="form_control">
		      <label></label>
			  <h2 th:text="${title}">Title</h2>
			</div>

			<form th:action="@{/saveListing}" method="post"
				enctype="multipart/form-data" th:object="${listing}">

				<input type="hidden" th:field="*{id}" />
				<input type="hidden" name="status"  id="status" value="Available"/>
				
				<div class="form_control ">
				  <label>Title</label>
				  <input type="text" th:field="*{title}" placeholder="Title"/> 
				  <span class="alert_message error"
					th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title
					error</span> 
				</div>
					
				<div class="form_control ">
                  <label>Category</label>
				  <select th:field="*{category}" >
					 <option th:each="ca : ${categories}" th:text="${ca.name}"
						th:value="${ca.id}">
				   </select>
				</div>
				
				<div class="form_control ">
				   <label>Estimated Value</label>
				   <input type="number" th:field="*{estValue}" placeholder="Estimate value"/> 
				   <span
					  class="alert_message error"
					  th:if="${#fields.hasErrors('estValue')}" th:errors="*{estValue}">Estimate
					  value error</span>
				</div>
					
                <div class="form_control ">
                  <label for="deliveries">Delivery</label> 
				  <ul id="deliveries" style="list-style: none">
					<li th:each="deli: ${deliveries}"
						style="display: inline-block; padding-right: 10px"><input
						type="radio" th:field="*{delivery}" th:value="${deli}"
						th:text="${deli}"></li>
				  </ul>
				  <span class="alert_message error"
					th:if="${#fields.hasErrors('delivery')}" th:errors="*{delivery}">delivery
					error</span> 
                </div>	
                
                
                <div class="form_control ">
                  <label for="conditions">Condition</label> 
				    
				  <ul id="conditions" style="list-style: none">
					<li th:each="condition: ${conditions}"
						style="display: inline-block; padding-right: 10px">
						<input type="radio" th:field="*{state}" th:value="${condition}"
						th:text="${condition}"></li>
				  </ul>
				  <span class="alert_message error"
					th:if="${#fields.hasErrors('state')}" th:errors="*{state}">state
					error</span> 
                </div>
                
                <div class="form_control " >
				   <label>Description</label>
				   <textarea rows="10" th:field="*{description}" placehoder="description" placeholder="Describe the object here"></textarea>
				   <span class="alert_message error"
					th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description
					error</span> 
				</div>	
				
				<div class="form_control " >
					<label for="thumbnail">Thumbnail</label> 
				    <input type="file" id="thumbnail" name="imgFile" />
				    <span class="alert_message error"
					th:if="${#fields.hasErrors('img')}" th:errors="*{img}">img
					error</span> 
				</div>
                
                <div class="form_control ">
		           <label></label>
				   <button type="submit" class="btn">Submit</button>
				</div>
			</form>
		</div>
	</section>
	</div>
	
	<footer th:replace="~{fragments/global/footer :: footer}">Global Header</footer>
	
</body>
</html>
