<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:object="${user}">
<head>
<meta charset="ISO-8859-1">
<title>Sign Up Confirmation</title>
</head>
<body>
	<h1>Welcome to Tradez [[*{username}]]</h1>
	<p>You can now login to your dashboard or look at your public profile</p>
	<a th:href="@{/profile/{username}(username=*{username})}"><button>View Profile</button></a>
	<a th:href="@{/login}"><button>Login</button></a>
	<h4><a th:href="@{/login}">Click here to
Login</a></h4>

</body>
</html>