<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>

	<article th:fragment="listing_preview" class="post text-center">
		<div class="post_thumbnail">
			<a th:href="@{'/listingPage/' + ${listing.createdBy}+'/' + ${listing.id}}"><img th:src="@{${'/loadListingImage/' + listing.id }}" alt=""></a>
			
		</div>
		<div class="post_info">

			<h3 class="post_title">
			<a th:text="${listing.title}" th:href="@{'/listingPage/' + ${listing.createdBy}+'/' + ${listing.id}}">Listing Title</a>

			</h3>

			<small th:text="${listing.category}">Category</small> | <small>Sep.
				20, 2022</small> | <small><span th:text="${listing.estValue}">Estimated
					value</span>$</small>

		</div>
	</article>

</body>

</html>